<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="mb-3">
    <label for="filterText" class="form-label">Ürün Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi girin">
  </div>
  <div *ngIf="filterText.length>2" class="alert alert-success">
    {{filterText}} aradınız
  </div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Category ID</th>
            <th>Unit Price</th>
            <th>KDV'li Fiyat</th>
            <th>Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products  | filterPipe:filterText">
            <td>{{product.productID}}</td>
            <td>{{product.productName | uppercase}}</td>
            <td>{{product.categoryId}}</td>
            <td>{{product.unitPrice | currency:"₺"}}</td>
            <td>{{product.unitPrice | vatAdded:10 | currency:"₺" }}</td>
            <td>{{product.unitsInStock}}</td>
            <td><button (click)="addToCart(product)" type="button" class="btn btn-success btn-xs" > Sepete Ekle</button></td>
        </tr>
    </tbody>
    
</table>